* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255,0), rgba(52, 35, 35,1));
}
.header {
    display:flex;
    background-color: aqua;
    width: 100%;
    align-content: center;
    padding: 3%;
    justify-content: center;
    border-bottom: 1px solid black;
    
}
nav{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    flex-direction: row;
    
}

.header h1 {
    padding: 1em;
    text-align: center;
    align-self:center;
    font-size: 3em;
}
.header img{
    max-width: 30%;
    min-height: 30%;
    min-height: 30%;
    min-width: 40%;
    justify-self: center;
    border: 1px solid;
    border-radius:50%;
    flex: 1 0 auto;
}
.header ul {
    text-align:center
}

.header   li a{
    display: inline-block;
    font-size: 2em;
    padding: 25px;
    text-decoration:none;

    
}
a:hover{
    color: green;

}
.content-box {
    display: flex;
    background-color: rgb(88, 109, 228);
    line-height: 5rem;
    margin: 4rem;
    min-width: 75%;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 20px;
}
.content-box:hover{
    box-shadow: inset 0 0  7px red;
}
.content-box p {
    line-height: 2rem;
    padding: 3em;
}
.content-box h2{
    font-size: 5em;
    padding: 2rem;
    display: block;

}
.work-section {
    display: flex;
    flex-direction: column;
    min-width: 75%;
    align-items:flex-start;
    background-color: aquamarine;
    border: 1px solid;
    height: 100vh;
    padding: 5%;
    margin: 1rem;
    overflow: auto;
    flex: 1 0 auto;
    transition: flex-basis 500ms linear;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.work-section:hover{
    box-shadow: 0 0 7px red;
}
.work-section h3{
    font-size:5em ;
}
.justify-space{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.first-project {
    display:flex;
    flex-direction: column;
    background-color: rgb(113, 235, 119);
    position: relative;
    border: 1px solid black;
    border-radius: 2rem;
    height: 50vh;
    transition: flex-basis 500ms linear;
    z-index: 2;   
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 2%;
    
}
.first-project img:hover {
    box-shadow: 1em 1em 3em purple;
}
.first-project p{
    display: block;
}
.first-project img {
    max-width: 100%;
    width: 30vh;
    height: auto;
    flex: 1 0 auto;

}
.work-section h3{
    position: relative;


}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.project-boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position:relative;
    background-color: chocolate;
    border: 1px solid black;
    border-radius: 1rem;
    z-index: 1;
    overflow: auto;
    flex: 1,0,auto;
    transition: flex-basis 500ms linear;
    height: 10em;
    width:10em;
    min-height: 0;
    min-height: 0;
    align-self:flex-end;
    align-items: center;
    
}
.project-boxes:hover{
    box-shadow: 1em 1em 1em gray;
}


.footer{
    display: flex;
    position: relative;
    background-color: rgb(228, 180, 255);
    min-width: 100%;
    height: 6rem;
    justify-content:space-around;
    align-items: center;

    
}
.footer div{
    font-size:1.5em;


}

.footer h4 {
    font-size: 2em;
}



@media screen and (min-width: 576px){
    .project-boxes .work-section .first-project{
      overflow: auto;
      max-width: 100%;
    }
    
}